name: Fitbit Build SDK 6
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      - name: Install Dependencies
        run: |
          npm install --ignore-scripts
          npm install @fitbit/sdk-cli@1.7.3 --save-dev --ignore-scripts
      - name: Build
        run: npx fitbit-build
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Versa4-SDK6-Paketi
          path: build/*.fba
