name: Fitbit Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Install
        run: |
          npm install --ignore-scripts
          npm install @fitbit/sdk-build-targets --save-dev
      - name: Build
        run: npx fitbit-build
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Versa4-Not-Uygulamasi
          path: build/*.fba
